{% extends 'base.html' %}

{% load static %}

{% block title %}bookmark_list.html {% endblock %}

{% block header %}
<header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>북마크</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}

    <h1>Bookmark List </h1>

    <ul>
        {% for bookmark in object_list %}
            <li><a href="{%url 'bookmark:detail' bookmark.id %}">{{bookmark}}</a> </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block extra-script %}{% endblock %}




